<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
{% include "components/navbar.html.jinja" %}
 <h1 class="text-center text-8xl text-red-800">
 BROWSE PRODUCTS
 </h1>
<main class =" grid grid-cols-3 gap-2 ml-3 mt-10">
    {% for x in products %}
        <div class="grid ">
            <img class="h-50 mx-auto" src="{{ x['Image'] }}"> <br>
            {{x ["Name"]}}<br>
            ${{x ["Price"]}}<br>
            {{x["Brand"]}}<br>
            {{x["Size"]}}<br>
            {{x["Category"]}}
        </div>
    {%endfor%}
</main>
 

 
</body>
</html>