<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body class="bg-gray-200">
{% include "components/navbar.html.jinja" %}
<main>
    
    <form  method = "post" class = "items-center  m-20 shadow-black shadow-md mr-160 ml-160 p-4 mt-50 bg-white">
        <label> Email </label>
        <input class= "border border-black rounded" required type = "email" name="email" >
        <br>
        <label>Password</label>
        <input class= "border border-black rounded" required type = "password " name="password">
        <br>
        <button class = "shadow-md bg-gray-200 p-2 ml-4 mt-2 corsur-pointer">Login</button>
    </form>
        
    <div class= "items-center text-center">
        <h3>
            Thank you for joining us
        </h3>
        <br>

        <a href="/register" class="bg-gray-400 p-4 rounded cursor-pointer">Register here</a>
    </div>
</main>
</body>