<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
{% include "components/navbar.html.jinja" %}

<div class= "grid grid-cols-2 bg-gray-200">
    <div class = "text-center m-20 ">
        <img class="h-100 m-8" src="{{ product['Image'] }}">
        <div class = "mr-35">
            {{product["Name"]}}
            <br>
            ${{product["Price"]}}
            <br>
        </div>
    </div>
    <div class = " text-l m-5 p-5 bg-white">
        {{product["Description"]}}
        <br>

        <form class="flex-col-2 justify-end" method="post" action="/product/{{product['ID']}}/add_to_cart">
             <div>  
                <label>
                    Raitings
                </label>
                <select class="w-full rounded-lg border border-gray-300 size-2 bg-white px-3 py-2
            focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </select >
            </div>
            <div>
                <input class= "border-2 border-gray-300  size-10" type="number" name = "QTY" value= "1" min="1" max="8">
                <button class ="bg-red-600 text-center border-2 border-orange-600 rounded pl-16 pr-16 pt-4 pb-4 gap-4 text-white  mt-45 text-2xl cursor-pointer ">
                    Add to Cart
                </button>
            </div>
        </form>
    </div>
    
    
</div>

</body>