<style>
    @import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

    .fruktur-regular {
        font-family: "Fruktur", system-ui;
        font-weight: 400;
        font-style: normal;
    }
</style>
<nav class="flex p-8 bg-red-700 shadow-black shadow-md justify-between ">

    <a href="/" class="rounded text-white text-center item-center pt-1 text-shadow-md text-6xl fruktur-regular">Riffts</a>
    <div class=" flex items-center gap-10">
        <a href="/browse" class=" mt-4 text-white text-center hover:text-red-700 p-2 text-xl hover:bg-white hover:rounded ">Browse</a>
        {% if not current_user.is_authenticated%}
        <a href="/login" class="mt-4 text-white flex items-center text-xl gap-2">
  <span class="icon-[mdi--account] text-xl"></span>
  Login
</a>
        {%else%}
        <div>
            <button class="text-white text-center mt-4 mr-2 group relative text-center text-xl hover:text-red-700 p-2 hover:bg-white hover:rounded">
                Hi {{current_user.name}} 
                <div
                    class=" flex flex-col justify-center gap-2 item-center bg-gray-200 border border-gray-400 p-2 text-gray-400 text-shadow-lg  rounded absolute top-full right-0 hidden group-hover:block ">
                    <a href="/logout" class="   hover:border-2">Logout</a>
                    <a href="#" class="  hover:border-2">Settings</a>
                    <a href="/cart" class="  hover:border-2">Cart</a>
                    <a href="/OrderPage" class="  hover:border-2">Orders</a>
                </div>
            </button>
        </div>
        {%endif%}

    </div>
</nav>